repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        description: Format files with cargo fmt
        entry: bash -c 'cargo fmt -- --check'
        language: system
        types: [file, rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint files with cargo clippy
        entry: bash -c 'cargo clippy -- -D warnings'
        language: system
        types: [file, rust]
        pass_filenames: false
      - id: test
        name: test
        description: Run tests with cargo test
        entry: bash -c 'cargo test'
        language: system
        types: [file, rust]
        pass_filenames: false
      - id: coverage
        name: coverage
        description: Check code coverage with cargo-tarpaulin
        entry: bash -c 'cargo tarpaulin --ignore-tests --line --fail-under 90'
        language: system
        types: [file, rust]
        pass_filenames: false